body
{
text-align: left;
font-family: arial, sans-serif;
color: rgb(43, 13, 13);
margin: 0;
padding: 0;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid red;
    margin: 0 auto;
}

container h1{

    font-size: 70px;


}


/* cssmatic.com  dar sombreado con boxshadow */
#cabecera{
    background-color: #33a;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
    color: white;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;

}